*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(128, 128, 128,0.1);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    width: 100%;
    background-color: lightskyblue;
    height: 60px;
}

h1{
    color: black;
    font-size: 50px;
}

.container{
    display: grid;
    margin-top: 50px;
    margin-left: 60px;
    gap: 20px;
}

.items{
    display: grid;
    grid-template-columns: 500px 200px;
}

p{
    font-size: x-large;
    margin-left: 50px;
}

.btn{
    color: black;
    background-color: red;
    width: 100px;
    height: 46px;
    font-size: 27px;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
}

.btn:hover{
    cursor: pointer;
    color: white;
}

.del{
    color: red;
    margin-left: 60px;
}

.add{
    color: rgb(27, 25, 25);
    background-color: green;
    border: none;
    width: 80px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

.add:hover{
    color: white;
    
}

.div-add{
margin-top: 30px;
margin-left: 100px;
height: 50px;
width: 610px;
display: flex;
justify-content: space-between;
align-items: center;
}

input{
    height: 40px;
    padding-left: 10px;
}

.heading{
    font-weight: 700;
}

.del-all{
    color: rgb(27, 25, 25);
    background-color: red;
    border: none;
    width: 110px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
}

.del-all:hover{
    color: white;
    cursor: pointer;
}